SCYLLA_HOSTS=127.0.0.1          # Comma-separated list of ScyllaDB hosts
SCYLLA_KEYSPACE=    # Your keyspace name
SCYLLA_USERNAME=                # Optional: Your ScyllaDB username
SCYLLA_PASSWORD=                # Optional: Your ScyllaDB password

REDIS_HOST=localhost:6379            # Redis host

PORT=8080